<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.co.hivelocity.hudidentity">

    <application>
        <activity
            android:name=".app.ui.WebViewActivity" />
        <activity
            android:name=".app.ui.RedirectActivity"
            android:launchMode="singleTask">
            <intent-filter
                android:autoVerify="true"
                tools:targetApi="m">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="${hubidentityHost}"
                    android:scheme="${hubidentityScheme}" />
            </intent-filter>
        </activity>
        <activity android:name=".app.ui.provider.ProviderActivity"></activity>
    </application>

</manifest>